<div class="tacomenu">
    <span class="label">#{{id}}</span>
    <span class="label">{{taco_name}}</span>
    <button data-id="{{id}}" data-newpick_up="{{pick_up}}" class="eatbutton">Eat The Taco!</button>
</div>